.text-align-right {
    text-align: right;
}

.or-separator {
    font-weight: bold;
}

.mb-2 {
    margin-bottom: 2em;
}

.mr-1 {
    margin-right: 1em;
}

.sticky-save-footer {
    border-top: 1px #dddddd solid;
    bottom: -1px;
    margin-top: 2em;
    margin-left: -2em;
    position: sticky;
    width: 100vw;
    z-index: 998;
    background: #fff;
    padding: 1em 0em 1em 2em;
}

.sticky-save-footer button {
    min-width: 5.625rem;
}