.jenkins-form-item {
    margin-bottom: 1em;
}

.cancel-site-edit-btn {
    bottom: 1em;
}

.hidden {
    display: none;
}

.actions-table-data {
    text-align: right;
}

.or-separator {
    font-weight: bold;
}

.connected-sites-container {
    margin-bottom: 2em;
}

.show-site-button {
    margin-bottom: 2em;
}

.edit-site-icon {
    margin-right: 1em;
}

.site-table {
    table-layout: fixed;
    width: 100%;
}

.sitename-col {
    width: 25%;
}

.webhook-url-col {
    width: 35%;
}

.actions-col {
    width: 10%;
}

.sticky-save-footer {
    position: sticky;
    bottom: -1px;
    margin-top: 2em;
    margin-left: -2em;
    width: 100vw;
    z-index: 998;
    background: #fff;
    padding: 1em 0em 1em 2em;
}

.pending-changes-alert {
    margin-left: 2em;
    color: red;
}

.sticky-save-footer button {
    min-width: 5.625em;
}

button[type=button].validate-regex-btn {
    float: right;
    margin-top: 0.5em;
}

.advanced-options-accordian {
    padding: 1em;
    border-radius: 6px;
    background-color: whitesmoke;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin: 2em 0;
}

.advanced-options-accordian:hover {
    cursor: pointer;
    color: #0062d1;
}

/* Override Jelly core layout offset issue */
#page-body #main-panel {
    max-width: 80vw !important;
}

tr.site-data-row.selected td {
    background-color: #EDEDED !important;
}

tr.site-data-row.selected td #actionsContainer {
    display: none;
}

.site-data-row {
    background-color: #ffffff !important;
}

.site-data-row td {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.site-data-default, .advanced-block-default {
    position:absolute;
    top:-10000px;
}

.help.display-block {
    display: block;
    margin-bottom: 3em;
}
